<form method="POST" action="/albums">
  <input type="text" name="album_title" />
  <input type="text" name="album_release_year" />
  <input type="text" name="album_artist_id" />
  <input type="submit" />
</form>